---
import { Picture } from 'astro:assets';
import bloom from '../../assets/branding/logobloomrose.png';
import bloomBackground from '../../assets/branding/logobloomrose-background.png';
import bloomBackground2 from '../../assets/branding/logobloomorange.png';
import elsDissabtesHero1 from '../../assets/branding/els-dissabtes-hero-1.jpg';
import elsDissabtesHero2 from '../../assets/branding/els-dissabtes-hero-2.jpg';
import elsDissabtesGrid1 from '../../assets/branding/els-dissabtes-tote.jpg';
import elsDissabtesGrid2 from '../../assets/branding/els-dissabtes-camiseta.jpg';
import elsDissabtesGrid3 from '../../assets/branding/els-dissabtes-taza.jpg';

import bloomCartel from '../../assets/branding/bloominpost_err.webp';
import bloomCartel2 from '../../assets/branding/bloominposterxxx.webp';
import stars from '../../assets/branding/stars-bloom.svg';
import { Image } from 'astro:assets';

---
<section class="relative min-h-[100vh] flex items-center justify-center overflow-x-hidden bg-white">
    <div class="container mx-auto px-4 md:px-8">
        <div class="flex items-center w-full">
            <h3 class="font-['Libre_Baskerville'] text-primary italic mt-5 mb-5
            text-3xl md:text-4xl lg:text-5xl xl:text-6xl
            tracking-[-0.07em] leading-[0.9]">Els dissabtes, cinema en Valenciá</h3>
            <div class="flex-1 border-b border-dotted border-primary ml-4"></div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 lg:gap-16 items-center">
            <div class="w-full">
                <h4 class="font-['Poppins'] text-pink font-bold mt-5 mb-5
                text-3xl md:text-4xl lg:text-4xl xl:text-5xl
                tracking-[-0.07em] leading-[0.9]">qué es els dissabtes?</h4>
    
                <p class="font-['Poppins'] text-primary mt-5 mb-5
                text-md md:text-lg lg:text-lg xl:text-xl w-full lg:w-3/4">
                    Lo que vemos a nuestra derecha es Xino, la mascota de nuestro evento. "Els Dissabtes, Cinema en Valencià" es un festival de cine dirigido al público infantil que se celebra en la sede de la ciudad universitaria de Alicante, del 25 de noviembre de 2024 al 13 de enero de 2025. Este festival tiene como objetivo promover el uso de la lengua valenciana a través de una programación cinematográfica adaptada para niños y niñas.
                </p>

                <p class="font-['Poppins'] text-primary mt-5 mb-5
                text-md md:text-lg lg:text-lg xl:text-xl w-full lg:w-3/4">
                    Se trata de un proyecto universitario en el que se han solicitado numerosos entregables, tales como cartel publicitario, maquetación, logotipo, carpeta corporativa, así como objetos de merchandising como tazas, tote bags y camisetas...
                </p>
            </p>

                <h4 class="font-['Poppins'] text-pink font-bold mt-10 mb-5
                text-3xl md:text-4xl lg:text-4xl xl:text-5xl
                tracking-[-0.07em] leading-[0.9]">herramientas</h4>

                <p class="font-['Poppins'] text-primary mt-5 mb-5
                text-md md:text-lg lg:text-lg xl:text-xl w-full lg:w-3/4">
                    Photoshop, Indesign y Illustrator
                </p>
            </div>
            <div class="w-full">
                <Picture src={bloom} formats={['avif','webp', 'png']} alt="Logotipo de Bloom" loading="lazy"/>
            </div>
         </div>
    </div>
</section>


<section class="relative min-h-[100vh] flex items-center justify-center overflow-x-hidden bg-white">
    <div class="container mx-auto px-4 md:px-8">
        <div class="grid grid-cols-5 gap-0 text-center items-center justify-center">
            <div class="col-span-12 md:col-span-1" style="background-color: #E6007E;">
                <h4 class="font-['Poppins'] text-white font-bold mt-5 mb-5
                text-2xl md:text-3xl lg:text-3xl xl:text-4xl
                tracking-[-0.07em] leading-[0.9]">
                #E6007E
                </h4>
            </div>
            <div class="col-span-12 md:col-span-1" style="background-color: #39B54A;">
                <h4 class="font-['Poppins'] text-white font-bold mt-5 mb-5
                text-2xl md:text-3xl lg:text-3xl xl:text-4xl
                tracking-[-0.07em] leading-[0.9]">
                #39B54A
                </h4>
            </div>
            <div class="col-span-12 md:col-span-1" style="background-color: #FFF200;">
                <h4 class="font-['Poppins'] text-white font-bold mt-5 mb-5
                text-2xl md:text-3xl lg:text-3xl xl:text-4xl
                tracking-[-0.07em] leading-[0.9]">
                #FFF200
                </h4>
            </div>
            <div class="col-span-12 md:col-span-1" style="background-color: #EFBEE1;">
                <h4 class="font-['Poppins'] text-white font-bold mt-5 mb-5
                text-2xl md:text-3xl lg:text-3xl xl:text-4xl
                tracking-[-0.07em] leading-[0.9]">
                #EFBEE1
                </h4>
            </div>
            <div class="col-span-12 md:col-span-1" style="background-color: #000000;">
                <h4 class="font-['Poppins'] text-white font-bold mt-5 mb-5
                text-2xl md:text-3xl lg:text-3xl xl:text-4xl
                tracking-[-0.07em] leading-[0.9]">
                #000000
                </h4>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 lg:gap-16 items-center mt-10">
            <div class="w-full">
                <h4 class="font-['Poppins'] text-pink font-bold mt-5 mb-5
                text-3xl md:text-4xl lg:text-4xl xl:text-5xl
                tracking-[-0.07em] leading-[0.9]">identidad visual</h4>

                <p class="font-['Poppins'] text-primary mt-5 mb-5
                text-md md:text-lg lg:text-lg xl:text-xl w-full">
                    Para este proyecto, la identidad visual se construyó a partir de un universo gráfico lúdico y colorido, diseñado para atraer la atención de familias y niños, al mismo tiempo que promueve el uso del valenciano.
                </p>

                <p class="font-['Poppins'] text-primary mt-5 mb-5
                text-md md:text-lg lg:text-lg xl:text-xl w-full">
                    La elección de colores vibrantes —rosa, verde y amarillo— genera una atmósfera alegre y accesible, mientras que las formas geométricas y los personajes ilustrados refuerzan el carácter cercano y familiar del evento. La tipografía, moderna y redondeada, acompaña esta dinámica cálida e inclusiva. Este lenguaje visual busca democratizar el acceso al cine en  Valenciano, creando una comunicación fuerte, reconocible y arraigada en la cultura local.
                </p>

                <p class="font-['Poppins'] text-primary mt-5 mb-5
                text-md md:text-lg lg:text-lg xl:text-xl font-bold w-full">
                    Participé en el desarrollo de esta identidad visual desde la fase conceptual hasta la aplicación gráfica final. El objetivo fue crear un sistema visual coherente que pudiera adaptarse fácilmente a diferentes soportes físicos y digitales, manteniendo siempre una estética atractiva para un público intergeneracional.
                </p>
            </div>
            <div class="w-full">
                <Picture src={elsDissabtesHero1} formats={['avif','webp', 'png']} alt="Fondo de Bloom 1" class="rounded-4xl mb-5" loading="lazy"/>
                <Picture src={elsDissabtesHero2} formats={['avif','webp', 'png']} alt="Fondo de Bloom 2" class="rounded-4xl" loading="lazy"/>
            </div>
        </div>
</section>

<section class="relative lg:min-h-[100vh] min-h-[35vh] flex items-center justify-center overflow-x-hidden bg-white">
    <div class="container mx-auto px-4 md:px-8">
        <div class="grid grid-cols-2 grid-rows-2 gap-0 items-stretch">
            <div class="relative overflow-hidden">
                <Picture src={elsDissabtesGrid1} alt="Tote Bag de Els Dissabtes" class="w-full h-full" loading="lazy"/>
            </div>
            <div class="relative overflow-hidden">
                <Picture src={elsDissabtesGrid2} alt="Camiseta de Els Dissabtes" class="w-full h-full" loading="lazy"/>
            </div>
            <div class="relative overflow-hidden">
                <Picture src={elsDissabtesGrid3} alt="Taza de Els Dissabtes" class="w-full h-full" loading="lazy"/>
            </div>
            <div class="relative overflow-hidden">
                <Picture src={elsDissabtesGrid1} alt="Tote Bag de Els Dissabtes (variante)" class="w-full h-full" loading="lazy"/>
            </div>
        </div>
    </div>
</section>